//..............................Blog Style..............................
.category-title{
  padding-right: 2rem;
}
.mini-card{
  position: relative;
  border-radius: 10px;
  margin: 2rem 0 3rem 0;
  img{
    width: 198px;
    height: 83px;
    border-radius: 10px;
    filter: brightness(65%);
  }
  .text{
    position:absolute;
    top:30%;
    right:0;
    left:0;
    p{
      color:#fff;
      font-size: $fs-xxlarge;
      font-weight: 700;
      text-align: center;
    }
  }
}
.custom-card{
  display: flex;
  justify-content: center;
}
.card {
  border:0!important;
  margin-bottom:1.5rem;
  margin-right: 0!important;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: $box-shadow;
  overflow: hidden;
  width: 416px;
  padding:0!important;

  .card-body{
    padding: 0;
  }

  .header {
    position: relative;
    img {
      width: 100%;
      height: 280px;
      object-fit: cover;
      border-radius: 10px 10px 0 0 ;
      padding: 0!important;
    }
    .tag{
      position: absolute;
      top:16px;
      right:16px;
      width: 57px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $color-secondary;
      color:#1E385A;
      font-size: $fs-meduim;
      border-radius: 4px;
    }
  }
  .card-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px 17px 0 17px;
    h3{
      font-size: $fs-large;
      font-weight: 700;
      color:#424242;
      margin: 0;
    }
    p{
      font-size: 14px;
      line-height: 25px;
      text-align: right;
      font-weight: 700;
      color: #717171;
      margin-top: 0.5rem;
    }
  }
  .user{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;

    img{
      border-radius: 50%;
      width:48px;
      height: 48px;
      margin-right: 10px;
    }
    h5{
      margin: 5px 8px 0 0;
      font-size: $fs-meduim;
      font-weight: 700;
    }
    p{
      margin: -20px 0 24px 70px ;
      font-size: $fs-meduim;
      text-align: center;
    }
    .comment{
      display: flex;
      justify-content: end;
      align-items: center;
      padding:0 0 20px 25px;

      .b-icon.bi{
        color: $color-dark!important;
        padding-left: 0.5rem;
      }
      span{
        font-size: $fs-meduim;
        color:$first-color;
      }
    }
  }
}
//..............................SingleBlog Style..............................
.content{
  color:$first-color;
  .b-icon.bi{
    margin-left:10px;
  }
  span{
    font-size: $fs-meduim;
  }
  .text{
    margin-top: 1.5rem;
    p{
      font-size: $fs-large;
      line-height: 28px;
      text-align: justify;
      margin-bottom: 3.5rem;
    }
    img{
      margin: 2rem 0 2.5rem 0;
      border-radius: 10px;
    }
    .b-icon.bi{
      font-size: 5pt;
    }
    span{
      font-size:$fs-normal;
    }
    .description{
      margin-top:2.5rem;
      p{
        margin-bottom: 2.5rem;
      }
      h2{
        margin-bottom: 1.75rem;
      }
    }
  }
}
.video{
  opacity:1;
}
.disvideo{
  opacity: 0;
}
.c-viedo{
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  vertical-align: center;
}
.c-viedo video{
  width: 100%;
  border-radius: 10px;
  text-align: center;
  filter: brightness(40%);
}
.btn-play{
  border:none;
  background-color: transparent;
}
.btn-play img{
  width: 70px;
  height: 70px;
}
.controls{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  flex-wrap: wrap;
}
.text-video p{
  font-size: 10pt;
  color:#FFFFFF;
  margin-top: 10px;
}