
$firstFontFamily: iranyekan;
$secondFontFamily: Shabnam;

$bgColor: #F9F9F9;
$first-color: #424242;
$color-secondary: #E9EBEF;
$color-dark: #717171;

$fs-xsmall: 8pt;
$fs-small: 9pt;
$fs-meduim: 10.5pt;
$fs-normal: 11pt;
$fs-large: 12pt;
$fs-xlarge: 13pt;
$fs-xxlarge: 14pt;

$box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);

$borderOne:1px solid rgb(232, 232, 237);

.tarkhine-secondary{
    color: $color-secondary;
}
.tarkhine-dark{
    color: $color-dark;
}
