@import "font";
//@import "../icons/style";
@import "variable";
@import "components";
@import "responsive";


/*
bg color => #F9F9F9FF
*/

body{
  font-family: $firstFontFamily !important ;
  background: $bgColor;
  color:$color-dark;
  direction: rtl;
  margin: 57px 30px;
}
 h1{
   font-size: 18pt;
   font-weight: 700;
 }
h2{
  font-size: 15pt;
  font-weight: 700;
}
ul{
  list-style: none;
  display: flex;
}


//.row{
//  margin-left: 0!important;
//  margin-right: 0!important;
//}
a{
  text-decoration: none!important;
  color: #000!important;
  cursor: pointer;
}
