
/* Errors Page ----------------------------------------------------------------- */
.e404 .clearfix{
  margin: -120px 0px 0px 0px;
}
.e404 img{
  margin: -170px 0px 0px 0px;
}
.n404{
  font-family:  fantasy !important;
  font-size: 80pt;
  text-shadow:  5px 5px #000;
}
h4.n404{
  text-shadow: none;
}
