
/* Header Styles ------------------------------- */
.header{
  width: 100%;
  height: 70px;
  background: $color-light;
}
.header-avatar{
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 40px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.header-avatar:hover{
  filter: invert(1);
  transition: 0.5s;
}
.header-item{
  margin: 10px 15px;
}
.header-dd-item{
  text-align: right;
  font-size: $fs-normal;
}
/* sidebar Styles ------------------------------ */
.sidebar-toggler{
  position: fixed;
  background: $secondColor !important;
  float: right;
  padding: 8px 10px 3px 10px;
  color: #fff;
  border: solid 2px #fff;
  border-radius: 10px !important;
  margin: 10px -25px 0px 0px;
  transition: 1s;
  z-index: 9;
}
.logo-wrapper{
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px 0px;
  border-bottom: 1px solid #fff;
}
.logo{
  width: 160px;
  text-align: center;
}
.items-wrapper{
  width: 100%;
  padding: 20px 0px 20px 0px;
}
.sidebar .nav-desc{
  width: 100%;
  color: #d9d9d9;
  font-family: $secondFontFamily;
  font-size: $fs-large;
  font-weight: $fw-bold;
  display: block;
  text-align: center;
}
.sidebar .nav-item{
  width: 100%;
  font-size: $fs-normal;
  font-weight: $fw-bold;
  color: #fff !important;
  display: flex;
  border-radius: 0px !important;
  justify-content: space-between;
  padding: 10px 15px 10px 20px;
}
.sidebar .router-link-exact-active{
  border-left: solid 5px $forthColor;
  background: $firstDarkColor;
}
.sidebar .nav-item:hover{
  transition: 0.5s;
  background: $firstDarkColor;
  border-left: solid 5px $forthColor;
}
.sidebar .nav-drop{
  padding-right: 30px;
  border-right: 5px solid $forthColor;
}
.sidebar .nav-drop-content{
  width: 100% !important;
  background: $firstColor;
  box-shadow: $shaodwInside;
}


/* Tab Styles  -------------------------------- */
.tab-title{
  border: 1px solid #d5d1d1 ;
  padding-right: 0px !important;
}
.tab-title a{
  padding-top: 12px;
  font-size: 12pt;
  color: #000;
}
.tab-title-active{
  background: $firstColor !important;
}
.tab-title-active a{
  color: #fff;
}


/* Drop down and popover ------------- */
.dropdown-menu{
  transition: all 0.3s;
  margin-top: 10px;
  left: -30px !important;
  width: auto;
}
.tooltip .tooltip-inner{
  background: $firstDarkColor !important;
  font-family: $firstFontFamily;
  font-size: $fs-medium;
  opacity: 0.9;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.bs-tooltip-bottom .tooltip-inner::after {
  content: " ";
  position: absolute;
  bottom: 85%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent $firstDarkColor transparent;
}
.bs-tooltip-top .tooltip-inner::after {
  content: " ";
  position: absolute;
  top: 84%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: $firstDarkColor transparent transparent transparent;
}
.bs-tooltip-right .tooltip-inner::after {
  content: " ";
  position: absolute;
  top: 39%;
  right: 100%;
  border-width: 6px;
  border-style: solid;
  border-color:  transparent $firstDarkColor transparent transparent;
}


/* Modal and Toast Styles ----------------------------------- */
.modal-content header{
  text-align: center !important;
  justify-content: center;
}
.modal-content header h4{
  color: #fff;
  font-size: $fs-normal;
}
.modal-content header button{
  color: #fff;
  text-align: left;
  position: absolute;
  right: 0;
}
.Vue-Toastification__toast-body{
  font-family: $firstFontFamily;
}

/* Badge and Item counter Styles -------------------------- */
.badge-pf-badge{
  position: absolute;
  z-index: 9;
  margin-top: 13px !important;
  padding: 2px !important;
  border-radius: 60px !important;
  background: #ff0000;
  border: solid 1px red;
}
.badge-pf-badge:empty{
  display: block;
}


/* Table and DataGrid (devextreme) -------------------------------- */
.pf_Table{
  font-family: $firstFontFamily;
  font-size: $fs-normal;
  text-align: center !important;
}
.dx-datagrid-headers{
  background: #f9f9f9;
  color: #000;
  font-weight: bold;
  text-align: center !important;
}
.dx-datagrid-headers td{
  text-align: center !important;
}
.dx-item-content, input.dx-texteditor-input, .dx-placeholder,
.dx-empty-message{
  font-family: $firstFontFamily;
}

/* Card and content Boxes Styles ----------------------------------------- */
.pf-card-title{
  font-size: $fs-xlarge;
}
.pf-card-title span{
  font-size: $fs-medium;
  border-right: solid 2px #c9c9c9;
  padding-right: 15px;
  padding-top: 7px;
  padding-bottom: 7px;
}
.card-body{
  padding: 0;
}
.card-text{
  padding: 10px;
}

/* Form and Inputs Styles ----------------------------------------- */
.pf_datePicker{
  width: 100% !important;
}
.pf_datePicker input{
  width: 100% !important;
}
.pf_datePicker_input{
  font-size: $fs-medium;
  text-align:center;
}
.pf_label{
  font-family: $firstFontFamily;
  font-size: $fs-normal;
  text-align: right;
}
.pf_select{
  direction: rtl;
  font-size: $fs-medium;
}
.pf_select .vs__dropdown-menu {
  text-align: right;
  right: 0px;
  left: auto;
}
.Lselect .vs__dropdown-menu {
  width: auto ;
}
.pf-switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}
.pf-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.pf-switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.pf-switch .slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
.pf-switch input:checked + .slider {
  background-color: #23a13b;
}
.pf-switch input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
.pf-switch input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.pf-switch .slider.round {
  border-radius: 34px;
}
.pf-switch .slider.round:before {
  border-radius: 50%;
}

.pf-switch2 {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 20px;
}
.pf-switch2 input {
  opacity: 0;
  width: 0;
  height: 0;
}
.pf-switch2 .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.pf-switch2 .slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 1px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
.pf-switch2 input:checked + .slider {
  background-color: #234da1;
}
.pf-switch2 input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
.pf-switch2 input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(17px);
}
.pf-switch2 .slider.round {
  border-radius: 3px;
}
.pf-switch2 .slider.round:before {
  border-radius: 15%;
}
.custom-radio input{
  margin-top: 7px;
}
.custom-radio .custom-control-label{
  padding-right: 10px;
  vertical-align:  top;
}
.pf-textarea{
  font-size: $fs-medium;
  text-align: right;
}

/* Footer Styles ----------------------------- */
.footer{
  position: relative;
  bottom: 0px;
  direction: rtl;
  width: 100%;
  margin: 0px 0px 0px 0px;
  padding: 10px 0px 10px 0px;
  text-align: center;
  background: $firstDarkColor;
  float: right;
  color: #fff;
  font-size: $fs-small;
  justify-content: space-between;
}
