/*
main colors ->
#605fc8
#5575be
#f8914f
#ff8f87
 */

$firstFontFamily: iranyekan;
$secondFontFamily: Shabnam;

$firstColor: #605fc8;
$firstDarkColor: #42419c;
$secondColor: #5575be;
$thirdColor: #f8914f;
$forthColor: #f9e2d2;
$gradientColor: linear-gradient(to bottom, #605fc8, #5575be);
$bgColor: #e2e2e2;

$color-primary: #345fb6;
$color-info: #638bdb;
$color-gray: #4f5052;
$color-pink: #f33066;
$color-success: #10b981;
$color-orange: #ff9b20;
$color-secondary: #b5b1b1;
$color-light: #f5f4f4;
$color-dark: #212529;
$color-danger: #c83535;
$color-warning: #cf7b1b;

$shadowOne: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
$shadowTwo: rgba(0, 0, 0, 0.35) 0px 5px 15px 0px;
$shadowThree: rgba(149, 157, 165, 0.2) 0px 8px 24px 0px;
$shadowBtn: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
$shaodwInside: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;

$borderOne:1px solid rgb(232, 232, 237);
$borderTwo:1px solid rgb(124, 87, 153);

$fs-xsmall: 8pt;
$fs-small: 9pt;
$fs-medium: 10pt;
$fs-normal: 11pt;
$fs-large: 12pt;
$fs-xlarge: 13pt;
$fs-xxlarge: 14pt;
$fw-normal: 400;
$fw-bold: 600;
$fw-xbold: 800;

// Colors and BG
.bg-pf-first{
  background: $firstColor !important;
}
.bg-pf-second{
  background: $secondColor !important;
}
.bg-pf-success{
  background: $color-success !important;
}
.bg-pf-primary{
  background: $color-primary !important;
}
.bg-pf-info{
  background: $color-info !important;
}
.bg-pf-warning{
  background: $color-warning !important;
}
.bg-pf-danger{
  background: $color-danger !important;
}
.text-pf-first{
  color: $firstColor;
}
.text-pf-dark{
  color: $firstDarkColor;
}
.text-pf-primary{
  color: $color-primary;
}
.text-pf-secondary{
  color: $color-secondary;
}
.text-pf-danger{
  color: $color-danger;
}
.text-pf-warning{
  color: $color-warning;
}


// Font and sizes
.fs8{
  font-size: 8pt !important;
}
.fs9{
  font-size: 9pt !important;
}
.fs10{
  font-size: 10pt !important;
}
.fs11{
  font-size: 11pt !important;
}
.fs12{
  font-size: 12pt !important;
}
.fs13{
  font-size: 13pt !important;
}
.fs14{
  font-size: 14pt !important;
}
.fs15{
  font-size: 15pt !important;
}
.fs16{
  font-size: 16pt !important;
}
.fs17{
  font-size: 17pt !important;
}
.fs18{
  font-size: 18pt !important;
}
.fs19{
  font-size: 19pt !important;
}
.fs20{
  font-size: 20pt !important;
}
.fw1{
  font-weight: 400;
}
.fw2{
  font-weight: 500;
}
.fw3{
  font-weight: 800
}
.en-text{
  font-family: cursive;
  direction: ltr;
}
.lh1{
  line-height: 25px;
}
.lh2{
  line-height: 30px;
}
.lh3{
  line-height: 35px;
}
.lh4{
  line-height: 40px;
}

// btn and links
a{
  text-decoration: none !important;
}
button{
  border: none;
  background: none;
  border-radius: 5px !important;
  padding: none;
}
.btn:focus{
  border: none !important;
  box-shadow: none;
}
.no-btn{
  background: none !important;
  border: none;
  padding: 0px !important;
  margin: 0px !important
}
.btn:focus{
  border: none;
  box-shadow: none;
}
.btn-pf-success{
  background-color: $color-success;
  color: #fff;
  transition: ease-in-out .3s;
  &:hover{
    transform: scale(1.1);
    box-shadow: $shadowBtn;
    color: #fff;
  }
}
.btn-pf-primary{
  background-color: $color-primary;
  color: #fff;
  transition: ease-in-out .3s;
  &:hover{
    transform: scale(1.1);
    box-shadow: $shadowBtn;
    color: #fff;
  }
}
.btn-pf-info{
  background-color: $color-info;
  color: #fff;
  transition: ease-in-out .3s;
  &:hover{
    transform: scale(1.1);
    box-shadow: $shadowBtn;
    color: #fff;
  }
}
.btn-pf-danger{
  background-color: $color-danger;
  color: #fff;
  transition: ease-in-out .3s;
  &:hover{
    transform: scale(1.1);
    box-shadow: $shadowBtn;
    color: #fff;
  }
}
.btn-pf-warning{
  background-color: $color-warning;
  color: #fff;
  transition: ease-in-out .3s;
  &:hover{
    transform: scale(1.1);
    box-shadow: $shadowBtn;
    color: #fff;
  }
}
.btn-pf-secondary{
  background-color: $color-secondary;
  color: #fff;
  transition: ease-in-out .3s;
  &:hover{
    transform: scale(1.1);
    box-shadow: $shadowBtn;
    color: #fff;
  }
}
.btn-pf-light{
  background-color: $color-light;
  transition: ease-in-out .3s;
  &:hover{
    transform: scale(1.1);
    box-shadow: $shadowBtn;
  }
}

// other elements
.hideEle{
  display: none;
}
