@import "../font";
@import "variable";
@import "custom";
@import "components";

/*
main colors ->
#9779f0
#f8914f
#ff8f87
 */

body{
  background: $bgColor !important;
  font-family: $firstFontFamily;
}

.wrapper{
  width: 100%;
  direction: rtl;
}

.sidebar-wrapper{
  position: fixed;
  width: 17%;
  float: right;
  background: $gradientColor;
  height: 100vh;
  transition: 0.3s;
  transition-timing-function: ease-in-out;
  overflow: auto;
}
.sidebar-wrapper::-webkit-scrollbar, .content-wrapper::-webkit-scrollbar {
    width: 0.5em;
}
.sidebar-wrapper::-webkit-scrollbar-track, .content-wrapper::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
.sidebar-wrapper::-webkit-scrollbar-thumb, .content-wrapper::-webkit-scrollbar-thumb {
  background-color: $firstDarkColor;
  outline: 1px solid $firstColor;
}
.main{
  width: 83%;
  float: left;
  transition: 0.3s;
  transition-timing-function: ease-in-out;
}
.content-wrapper{
  width: 100%;
  padding: 20px 20px 50px 20px;
  overflow: auto;
  min-height: 85vh;
}
